<div id="twitter" class="span6">
    Loading tweets...
</div>

<div id="products" class="span6">
</div>

<div class="clearfix"></div>

<div id="pages" class="pagination pagination-centered">
    <ul>
    </ul>
</div>