<?php foreach ($this->products as $product): ?>

<div class="product-box">

    <a href='<?php echo $product->getUrl(); ?>' class="original-image">
        <img style="width: 165px; height: 170px;"
             src="<?php echo $this->baseUrl('/image/show') . '?product-id=' . $product->getId(); ?>"/>
    </a>

    <h4><?php echo $product->getName(); ?></h4>

    <p>
        <?php echo $product->getDescription(); ?>
    </p>

    <?php $middleLine = ''; ?>

    <?php if ($product->getDiscountedPrice()): ?>

    <?php $middleLine = 'through-line'; ?>

    <div class="price">
            <span class="money">
                <abbr class="unit">TRY</abbr>
                <span class="amount"><?php echo $product->getDiscountedPrice(); ?></span>
                <abbr class="currency" title="TRY"></abbr>
            </span>
    </div>
    <?php endif; ?>

    <div class="price <?php echo $middleLine; ?>">
        <span class="money">
            <abbr class="unit">TRY</abbr>
            <span class="amount"><?php echo $product->getPrice(); ?></span>
            <abbr class="currency" title="TRY"></abbr>
        </span>
    </div>
</div>

<?php endforeach; ?>