.through-line{
    text-decoration: line-through;
    color: #696969 !important;
}

#main {

}

#twitter {
    width: 200px;
    min-height: 300px;

    border-right: 1px solid #f5f5f5;
}

#products {
    width: 900px;
}

#products .product-box {
    width: 210px;
    height: 270px;
    margin-bottom: 10px;
    display: inline-block;

    border: 1px solid #d3d3d3;
    border-radius: 5px;

    padding-left: 3px;
    padding-right: 3px;
}

.product-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-box p {
    border-top: 1px solid #f5f5f5;

    height: 30px;
    white-space: nowrap;
    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
}

.product-box .price {
    margin-right: 10px;
    display: inline;
}

.product-box .price-discounted {

}

.product-box .price {
    font-weight: bold;
    color: red;
}

.tweet {
    background: #f5f5f5;
    border-bottom: 1px solid #00bfff;
    margin-bottom: 5px;
}