<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

    <title>Sonsuz Dongu App</title>

    <meta name="author" content="Hasan Oezdemir"/>

    <!-- Custom CSS definitions -->
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/css/style.css')?>">

    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" href="<?php echo $this->baseUrl('/css/bootstrap.css')?>">
    <!-- end CSS-->

    <script type="text/javascript">
        // Take base url, to use it in javascript components.
        BASE_URL = '<?php echo $this->baseUrl('') ?>';
    </script>

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script type="text/javascript" src="<?php echo $this->baseUrl('/js/libs/jquery-1.9.1.min.js')?>"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl('/js/libs/bootstrap.min.js')?>"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl('/js/libs/currency.jquery.plugin.js')?>"></script>

    <script type="text/javascript" src="<?php echo $this->baseUrl('/js/main.js')?>"></script>
</head>

<body>

<!-- Modal -->
<div id="alert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Error</h3>
    </div>
    <div class="modal-body">
        <p>Please login with facebook to see product images!</p>
    </div>
</div>

<div class="navbar navbar-top active" style="display: block">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="./index.html">Sonsuz Dongu</a>

            <div class="btn-group pull-right">
                <ul class="btn-group">
                    <li>
                        <a id="fb-login" class="btn btn-mini btn-primary" href="#">Login with Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div id="main">
    <?php echo $this->layout()->content;  ?>
</div>


</body>
</html>
